// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .footer
// |

// --------------------------------------------------
// Variables - footer top
// --------------------------------------------------

@footer-background-color: @brand-primary;
@footer-font-color: @state-secondary-text;
@footer-font-size: @font-size-small;

// Responsive
@footer-xs-inner-top-bottom-padding: 30px;
@footer-sm-inner-top-bottom-padding: 35px;
@footer-md-inner-top-bottom-padding: 40px;
@footer-lg-inner-top-bottom-padding: 50px;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Footer
.footer {
  padding: 0;
  background-color: @footer-background-color;

  p {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 6px;
    font-family: @font-family-base;
    font-size: @font-size-large;
    .line-height(@font-size-large);
    color: @text-color;
    letter-spacing: 0;
    font-weight: @font-weight-bold;
  }

  .row {

    > div {

      &:first-child {

        .footer-content {
          padding-top: 0;
        }
      }

      &:last-child {

        .footer-content {
          padding-bottom: 0;
        }
      }
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

  // Footer
  .footer {}
}

// Mobile - only
@media @media-query-mobile-only {

  // Footer
  .footer {
    padding: @footer-xs-inner-top-bottom-padding 0;
  }
}

// Tablet
@media @media-query-tablet {

  // Footer
  .footer {}
}

// Tablet - only
@media @media-query-tablet-only {

  // Footer
  .footer {
    padding: @footer-sm-inner-top-bottom-padding 0;
  }
}

// Desktop
@media @media-query-desktop {

  // Footer
  .footer {}
}

// Desktop - only
@media @media-query-desktop-only {

  // Footer
  .footer {
    padding: @footer-md-inner-top-bottom-padding 0;
  }
}

// Large desktop
@media @media-query-large-desktop {

  // Footer
  .footer {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

  // Footer
  .footer {
    padding: @footer-lg-inner-top-bottom-padding 0;
  }
}

// Print
@media print {

  // Footer
  .footer {}
}

// Touch
.touchevents {

  // Footer
  .footer {}
}

// No touch
.no-touchevents {

  // Footer
  .footer {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Footer mixin
.footer-mixin() {}
